$card-cap-bg: #DCEDC8;
$body-bg: rgba(241, 248, 233, 0.5);
$card-bg: #ffffff;
$list-group-bg: #ffffff;
$card-border-color: none;
$list-group-border-color: none;

@import "node_modules/bootstrap/scss/bootstrap";
