$card-cap-bg: #B3E5FC;
$body-bg: rgb(225, 245, 254, .4);
$card-bg: #ffffff;
$list-group-bg: #ffffff;
$card-border-color: none;
$list-group-border-color: none;

@import "node_modules/bootstrap/scss/bootstrap";

.navbar {
    padding: 14px;
}
